.a-nav {
    text-decoration: none !important;
    color: #000000 !important;
    font-size: 32px;
    font-weight: bold;
}

.a-nav:hover {
    text-decoration: none;
    color: #3750ff !important;
}
.scroll-container {
    height: 450px; /* Фиксированная высота контейнера */
    overflow-y: auto; /* Включение вертикальной прокрутки для контейнера */
}
.scroll-container-acf {
    height: 200px; /* Фиксированная высота контейнера */
    overflow-y: auto; /* Включение вертикальной прокрутки для контейнера */
}
.acf-image {
    max-width: 100%; /* Максимальная ширина изображения равна ширине контейнера */
    max-height: 100%; /* Максимальная высота изображения равна высоте контейнера */
    padding: 10px;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main{
  flex: 1 0 auto;
}
footer {
  flex: 0 0 auto;
}
#mode_static + label, #mode_dynamic + label{
    font-weight: 500;
    font-size: 24px;
}
