
<span class="text-center">
    <h4>Періодична АКФ Тору станів</h4>
    <img src="data:image/png;base64,{{ acf_image_torus|safe }}" alt="Plot" class="acf-image">
</span>

<span class="text-center">
    <h4>Аперіодична АКФ Тору станів</h4>
    <img src="data:image/png;base64,{{ acf_image_torus_a|safe }}" alt="Plot" class="acf-image">
</span>
<span class="text-center">
    <h4>Аперіодична АКФ min Тору станів</h4>
    <img src="data:image/png;base64,{{ acf_image_torus_min|safe }}" alt="Plot" class="acf-image">
</span>
