<div class="row">
    <div class="col-md-4">
        <h4>Структурна матриця A:</h4>

        <table class="table table-bordered border-info">
            {% for row in struct_matrix_A %}
                <tr>
                    {% for el in row %}
                        <td>{{ el }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4">
        <h4>Структурна матриця B:</h4>

        <table class="table table-bordered border-info">
            {% for row in struct_matrix_B %}
                <tr>
                    {% for el in row %}
                        <td>{{ el }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-4">
        <h4>Форма Смітта S:</h4>

        <table class="table table-bordered border-info">
            {% for row in matrix_S %}
                <tr>
                    {% for el in row %}
                        <td>{{ el }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="d-flex flex-row p-2 justify-content-evenly">
            <h4>T(A) {{ t_period_A }}</h4>

            <h4>T(B) {{ t_period_B }}</h4>

            <h4>T(C) {{ t_period_C }}</h4>

            <h4>T(C) experimental {{ t_exp_period_C }}</h4>
        </div>
        <div class="d-flex flex-row p-2 justify-content-evenly">
            <h4>Вага Хемінгу {{ hemming_weight }}</h4>

            <h4>Вага Хемінгу (experimental) {{ hemming_exp_weight }}</h4>
        </div>

<div class="scroll-container">
        <h4>Послідовність:</h4>
        <p>
            {% for el in sequence %}
                {{ el }}
            {% endfor %}
        </p>
    </div>
    </div>
    <div class="col-md-6">
        <h4>АКФ послідовності</h4>
        <img src="data:image/png;base64,{{ acf_image|safe }}" alt="Plot">
    </div>
</div>


{#        <h4>Послідовність:</h4>#}
{#        <p class="fw-bold">#}
{#            {% for el in sequence %}#}
{#                {{ el }}#}
{#            {% endfor %}#}
{#        </p>#}
{#        <h4>Вага Хеммінгу: </h4>#}
{#        <p class="fw-bold">{{ hemming_weight }}</p>#}
{#    #}
{#        <h4>Вага Хеммінгу(experimental): </h4>#}
{#        <p class="fw-bold">{{ hemming_exp_weight }}</p>#}
{#        #}
{#        <h4>T: </h4>#}
{#        <p class="fw-bold">{{ t_period }}</p>#}
{#    #}
{#        <h4>T(experimental): </h4>#}
{#        <p class="fw-bold">{{ t_exp_period }}</p>#}
{#    #}
{#        <h4>АКФ послідовності</h4>#}
{#        <img src="data:image/png;base64,{{ acf_image|safe }}" alt="Plot">#}


{#    <div class="col-md-6">#}
{#        <h4>Стани послідовності:</h4>#}
{##}
{#        <table class="table table-striped table-hover text-center">#}
{#            <thead>#}
{#            <tr>#}
{#                <th scope="col">N</th>#}
{#                <th scope="col">Стан</th>#}
{#                <th scope="col">N₁₀</th>#}
{#            </tr>#}
{#            </thead>#}
{#            {% for row in biggest_cycle %}#}
{#                <tr>#}
{#                    {% for el in row %}#}
{#                        <td>{{ el }}</td>#}
{#                    {% endfor %}#}
{#                </tr>#}
{#            {% endfor %}#}
{#        </table>#}
{#    </div>#}



